{% extends "makesense/frontmatter.html" %}

{% block content %}
{{ book.about|safe }}
{% endblock content %}

{% block control_panel %}
<div id="Controls">
    <hr>
    <br>
    <a href="/dedication/">&lt; Previous Page</a><button>Page 2 of {{ book.total_pages }}</button><a href="/introduction/">Next Page &gt;</a>
    <table>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
{% endblock control_panel %}