{% extends "makesense/frontmatter.html" %}

{% block content %}
{{ book.acknowledgements|safe }}
{% endblock content %}

{% block control_panel %}
<div id="Controls">
    <hr>
    <br>
    <a href="/about/">&lt; Previous Page</a><button>Page 4 of 160</button><a href="/chapter/1/identify-the-mess/">Next Page &gt;</a>
    <table>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
{% endblock control_panel %}