{% extends "makesense/frontmatter.html" %}

{% block intro %}
<div id="Intro">
<h1>IA Resources</h1>
<p>These books, websites and articles were selected to help even the most junior sensemaker to make sense of the wide world of information architecture.</p> 
<p>If you feel like there is an important resource that should be listed here, please contact me via email</p>

</div>
{% endblock intro %}

{% block content %}
{{ book.resources|safe }}
{% endblock content %}

{% block control_panel %}{% endblock control_panel %}